.snakemake/
analysis/
databases/
dv_images/
joint_called/
logs/
my_database/
Quinlan_Pretesting_Data/
Quinlan_Released_Data/
recal/
tranche/
vqsr_files/

*.ped
*.vcf.gz
*.genome
*.MD5
cohort.sample_map
